{% extends 'core/base.html' %}
{% block titulo %}
    Productos: Detalle de Producto
{% endblock titulo %}

{% block contenido %}

    <ul>
            <li>Cliente: {{ carrito.cliente }}</li>
            <li>Fecha: {{ carrito.fecha }}</li>
            <li>Total: {{ carrito.total }}</li>
            <ul>
            {% for producto in  carrito.productos.all %}
                <li>producto: {{ carrito.producto }}</li>
            {% endfor %}
            
        </ul>
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:carrito_list' %}">Volver</a>
    </div>

{% endblock contenido %}