{% extends 'core/base.html' %}
{% block titulo %}
    Visualizacion de carritos
{% endblock titulo %}

{% block contenido %}

    <div class="py-lg-4 ">
        <form action="{% url 'tienda:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    <ul>
        {% comment  %}
        {% for carrito in carritos %}
        {% endcomment %}

        {% for carrito in carritos %}
            <li>{{ carrito.total }}

                <a href="{% url 'tienda:carrito_detail' carrito.id %}">Detalle</a>
                <a href="{% url 'tienda:carrito_update' carrito.id %}">Cambiar</a>
                <a href="{% url 'tienda:carrito_delete' carrito.id %}">Borrar</a>
                                    
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:carrito_list' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}
