{% extends 'core/base.html' %}
{% block titulo %}
    Visualizacion de carritos
{% endblock titulo %}
{% block Subtitulo %}
    Aqui podras ver los carritos existentes en la tienda
{% endblock Subtitulo %}
{% block contenido %}
    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:carrito_create' %}">Crear Carrito</a>
    </div>
    <ul>

        {% for carrito in carritos %}
            <li>{{ carrito }}

                <a href="{% url 'tienda:carrito_detail' carrito.id %}">Detalle</a>
                <a href="{% url 'tienda:carrito_update' carrito.id %}">Cambiar</a>
                <a href="{% url 'tienda:carrito_delete' carrito.id %}">Borrar</a>
                </button>
                                    
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de Tienda</a>
    </div>

{% endblock contenido %}
