{% extends 'core/base.html' %}

{% block titulo %}
    Productos: Borrar un Carrito
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ carrito }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de Producto</a>
    </div> 

{% endblock contenido %}