{% extends 'core/base.html' %} {% block titulo %} Productos: Lista deProductos
{% endblock titulo %}
{% block Subtitulo %}
    Aqui podras ver el Listado de productos
{% endblock Subtitulo %}
 {% block contenido %}
<div class="fs-3 pb-4">
    <a href="{% url 'tienda:producto_create' %}">Crear Productos</a>
</div>
<ul>
  {% for producto in productos %}
  <li>
    {{ producto.nombre }} 

    <a href="{% url 'tienda:producto_detail' producto.codigo %}">Detalle</a>
    <a href="{% url 'tienda:producto_update' producto.codigo %}">Cambiar</a>
    <a href="{% url 'tienda:producto_delete' producto.codigo %}">Borrar</a>
  </li>
  {% endfor %}
</ul>

<div class="fs-3 pb-4">
  <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de la tienda</a>
</div>

{% endblock contenido %}
