{% extends 'core/base.html' %}
{% block titulo %}
    Productos: Mantenimiento de Categorías de Productos
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:productocategoria_create' %}">Crear Categorías de Productos</a>
    </div>
    <ul>
        {% comment  %}
        {% for categoria in categorias %}
        {% endcomment %}

        {% for categoria in categorias %}
            <li>{{ categoria.nombre }}
                <a href="{% url 'tienda:productocategoria_detail' categoria.codigo %}">Detalle</a>
                <a href="{% url 'tienda:productocategoria_update' categoria.codigo %}">Cambiar</a>
                <a href="{% url 'tienda:productocategoria_delete' categoria.codigo %}">Borrar</a>
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de la tienda</a>
    </div>

{% endblock contenido %}
