{% extends 'core/base.html' %}

{% block titulo %}
    Productos: Crear Categoría de Productos
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary my-5 bg-success ">Guardar</button>
    </form>
    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de Producto</a>
    </div>

{% endblock contenido %}