{% extends 'core/base.html' %}
{% block titulo %}
    Productos: Detalle de Producto
{% endblock titulo %}

{% block contenido %}

    <ul>
            <li>Codigo: {{ producto.codigo }}</li>
            <li>Nombre: {{ producto.nombre }}</li>
            <li>Precio: {{ producto.precio }}</li>
            <li>Categoria: {{ producto.categoria.nombre }}</li>
            <li>Stock: {{ producto.stock }}</li>
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:producto_list' %}">Volver</a>
    </div>

{% endblock contenido %}