{% extends 'core/base.html' %}
{% block titulo %}
    Productos: Mantenimiento de Categorías de Productos
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    <div class="fs-3 pb-4">
        <a href="{% url 'tienda:productocategoria_create' %}">Crear Categorías de Productos</a>
    </div>
    <ul>
        {% comment  %}
        {% for categoria in categorias %}
        {% endcomment %}

        {% for categoria in categorias %}
            <li>{{ categoria.nombre }}
                <a href="{% url 'tienda:productocategoria_detail' categoria.codigo %}"><i title="Ver detalle" class="bi bi-eye-fill" style="color:chartreuse;""></i></a>
                <a href="{% url 'tienda:productocategoria_update' categoria.codigo %}"> <i title="Cambiar" class="bi bi-pencil-fill" style="color:blue"></i></a>
                <a href="{% url 'tienda:productocategoria_delete' categoria.codigo %}"><i title="Borrar"class="bi bi-trash-fill" style="color:red"></i></a>


            
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de la tienda</a>
    </div>

{% endblock contenido %}
