{% extends 'core/base.html' %} {% block titulo %} Productos: Lista deProductos
{% endblock titulo %}
{% block Subtitulo %}
    Aqui podras ver el Listado de productos
{% endblock Subtitulo %}
 {% block contenido %}
<div class="fs-3 pb-4">
    <a href="{% url 'tienda:producto_create' %}">Crear Productos</a>
</div>
<ul>
  {% for producto in productos %}
  <li>
    {{ producto.nombre }} 

    <a class="ms-5" href="{% url 'tienda:producto_detail' producto.codigo %}"><i title="Ver detalle" class="bi bi-eye-fill" style="color:chartreuse;""></i></a>
    <a href="{% url 'tienda:producto_update' producto.codigo %}"><i title="Cambiar" class="bi bi-pencil-fill" style="color:blue"></i></a>
    <a href="{% url 'tienda:producto_delete' producto.codigo %}"><i title="Borrar"class="bi bi-trash-fill" style="color:red"></i></a>

  </li>
  {% endfor %}
</ul>

<div class="fs-3 pb-4">
  <a class="btn btn-primary" href="{% url 'tienda:home' %}">Volver al inicio de la tienda</a>
</div>

{% endblock contenido %}
