{% extends 'core/base.html' %} {% block titulo %} Productos: Lista deProductos
{% endblock titulo %} {% block contenido %}

<div class="py-lg-4">
  <form action="{% url 'tienda:home' %}" method="get">
    <input type="text" name="consulta" placeholder="Buscar..." />
  </form>
</div>
<div class="fs-3 pb-4">
    <a href="{% url 'tienda:producto_create' %}">Crear Productos</a>
</div>
<ul>
  {% for producto in productos %}
  <li>
    {{ producto.nombre }} 

    <a href="{% url 'tienda:producto_detail' producto.codigo %}">Detalle</a>
    <a href="{% url 'tienda:producto_update' producto.codigo %}">Cambiar</a>
    <a href="{% url 'tienda:producto_delete' producto.codigo %}">Borrar</a>
  </li>
  {% endfor %}
</ul>

<div class="fs-3 pb-4">
  <a href="{% url 'tienda:home' %}">Volver al inicio de Producto</a>
</div>

{% endblock contenido %}
