{% extends 'core/base.html' %}

{% block titulo %}
    Personas: Cambiar datos de un cliente
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary  my-5 bg-success">Guardar</button>
    </form>
    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'persona:cliente_list' %}">Volver a Clientes</a>
    </div>

{% endblock contenido %}