{% extends 'core/base.html' %}

{% block titulo %}
    Personas: Borrado de un cliente
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}
    
    <p class="fs-5 fst-italic">¿Confirma eliminar "{{ cliente.user }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'persona:cliente_list' %}">Volver a Clientes</a>
    </div>

{% endblock contenido %}