{% extends 'core/base.html' %}
{% block titulo %}
    Personas: Mantenimiento de clientes
{% endblock titulo %}

{% block contenido %}

    <div class="py-lg-4 ">
        <form action="{% url 'persona:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    <div class="fs-3 pb-4">
        <a href="{% url 'persona:cliente_create' %}">Crear un nuevo cliente</a>
    </div>
    <ul>

        {% for cliente in object_list %}
            <li>{{ cliente.user }} - {{ cliente.apellido }}, {{ cliente.nombre }}
                <a href="{% url 'persona:cliente_detail' cliente.usuario_ptr_id %}">Detalle</a>
                <a href="{% url 'persona:cliente_update' cliente.usuario_ptr_id %}">Cambiar</a>
                <a href="{% url 'persona:cliente_delete' cliente.usuario_ptr_id %}">Borrar</a>  
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'persona:home' %}">Volver a Personas</a>
    </div>

{% endblock contenido %}
