{% extends 'core/base.html' %}
{% block titulo %}
    Personas: Mantenimiento de clientes
{% endblock titulo %}
{% block Subtitulo %}
    Aqui podras ver un listado de los clientes de la tienda
{% endblock Subtitulo %}
{% block contenido %}
    <div class="fs-3 pb-4">
        <a href="{% url 'persona:cliente_create' %}">Crear un nuevo cliente</a>
    </div>
    <ul>

        {% for cliente in object_list %}
            <li>{{ cliente.user }} - {{ cliente.apellido }}, {{ cliente.nombre }}
                <a href="{% url 'persona:cliente_detail' cliente.usuario_ptr_id %}"> <i title="Ver detalle" class="bi bi-eye-fill" style="color:chartreuse;""></</a>
                <a href="{% url 'persona:cliente_update' cliente.usuario_ptr_id %}"><i title="Cambiar" class="bi bi-pencil-fill" style="color:blue"></i></a>
                <a href="{% url 'persona:cliente_delete' cliente.usuario_ptr_id %}"><i title="Borrar"class="bi bi-trash-fill" style="color:red"></i> </a>  

            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'persona:home' %}">Volver a Personas</a>
    </div>

{% endblock contenido %}
