{% extends 'core/base.html' %}
{% block titulo %}
    Personas: Detalle del cliente {{ cliente.user }}
{% endblock titulo %}
{% block Subtitulo %}
    
{% endblock Subtitulo %}
{% block contenido %}

    <ul>
        <li>Nombre: {{ cliente.nombre }}</li>
        <li>Apellido: {{ cliente.apellido }}</li>
        <li>Mail: {{ cliente.email }}</li>
        <li>Puntuacion: {{ cliente.puntuacion }}</li>
        <li>Credito: {{ cliente.credito}}</li>
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'persona:cliente_list' %}">Volver a Clientes</a>
    </div>

{% endblock contenido %}