{% extends 'core/base.html' %}
{% block titulo %}
    Usuarios: Mantenimiento de usuarios y clientes
{% endblock titulo %}
{% block contenido %}

<div class="fs-3 pb-4">
    <a href="{% url 'persona:rol_list' %}">Roles de Usuarios</a>
</div>
<div class="fs-3 pb-4">
    <a href="{% url 'persona:usuario_list' %}"> Usuarios del Sistema</a>
</div>
<div class="fs-3 pb-4">
    <a href="{% url 'persona:cliente_list' %}"> Clientes de la tienda</a>
</div>
 
    
    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'core:home' %}">Volver a Inicio</a>
    </div>

{% endblock contenido %}
