{% extends 'core/base.html' %}
{% block titulo %}
    Visualizacion de Roles
{% endblock titulo %}
{% block Subtitulo %}
    Aqui podras ver un listado de los Roles existentes en el sistema
{% endblock Subtitulo %}
{% block contenido %}
    <div class="fs-3 pb-4">
        <a href="{% url 'persona:rol_create' %}">Crear rol</a>
    </div>
    <ul>

        {% for rol in object_list %}
            <li>{{ rol }}
                <a href="{% url 'persona:rol_detail' rol.id %}"><i title="Ver detalle" class="bi bi-eye-fill" style="color:chartreuse;""></i></a>
                <a href="{% url 'persona:rol_update' rol.id %}"> <i title="Cambiar" class="bi bi-pencil-fill" style="color:blue"></i></a>
                <a href="{% url 'persona:rol_delete' rol.id %}"> <i title="Borrar"class="bi bi-trash-fill" style="color:red"></i> </a>       
          
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a class="btn btn-primary" href="{% url 'persona:home' %}">Volver a Personas</a>
    </div>

{% endblock contenido %}
