{% extends 'core/base.html' %}
{% block titulo %}
    Visualizacion de Roles
{% endblock titulo %}

{% block contenido %}

    <div class="py-lg-4 ">
        <form action="{% url 'tienda:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    {% comment  %}
        

    <div class="fs-3 pb-4">
        <a href="{% url 'persona:carrito_create' %}">Crear Carrito</a>
    </div>
    {% endcomment %}
    <ul>

        {% for rol in object_list %}
            <li>{{ rol }}
                {% comment  %}
                <a href="{% url 'persona:carrito_detail' carrito.id %}">Detalle</a>
                <a href="{% url 'persona:carrito_update' carrito.id %}">Cambiar</a>
                <a href="{% url 'persona:carrito_delete' carrito.id %}">Borrar</a>
                {% endcomment %}                    
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'persona:home' %}">Volver a Personas</a>
    </div>

{% endblock contenido %}
