{% extends 'core/base.html' %}
{% block titulo %}
    Visualizacion de Roles
{% endblock titulo %}

{% block contenido %}

    <div class="py-lg-4 ">
        <form action="{% url 'tienda:home' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    <div class="fs-3 pb-4">
        <a href="{% url 'persona:rol_create' %}">Crear rol</a>
    </div>
    <ul>

        {% for rol in object_list %}
            <li>{{ rol }}
                <a href="{% url 'persona:rol_detail' rol.id %}">Detalle</a>
                <a href="{% url 'persona:rol_update' rol.id %}">Cambiar</a>
                <a href="{% url 'persona:rol_delete' rol.id %}">Borrar</a>                   
            </li>
        {% endfor %}
    </ul>

    <div class="fs-3 pb-4">
        <a href="{% url 'persona:home' %}">Volver a Personas</a>
    </div>

{% endblock contenido %}
