{% extends 'core/base.html' %}
 {% block titulo %} usuarios: Lista de Usuarios 
 {%endblock titulo %} 
 {% block Subtitulo %}
    Aqui podras ver un listado de usuarios del sistema (No Clientes)
{% endblock Subtitulo %}
 {% block contenido %}
<div class="fs-3 pb-4">
  <a href="{% url 'persona:usuario_create' %}">Crear usuarios</a>
</div>
<ul>
  {% for usuario in object_list %} 
  {% if usuario.rol.nombre != "Cliente" %}
    <li>
       {{usuario.user}} - {{usuario.rol.nombre}}

      <a href="{% url 'persona:usuario_detail' usuario.user %}"><i title="Ver detalle" class="bi bi-eye-fill" style="color:chartreuse;""></i></a>
      <a href="{% url 'persona:usuario_update' usuario.user %}"><i title="Cambiar" class="bi bi-pencil-fill" style="color:blue"></i></a>
      <a href="{% url 'persona:usuario_delete' usuario.user %}"><i title="Borrar"class="bi bi-trash-fill" style="color:red"></i></a>

    </li>
  {% endif %} 
  {% endfor %}
</ul>

<div class="fs-3 pb-4">
  <a class="btn btn-primary" href="{% url 'persona:home' %}">Volver a Personas</a>
</div>

{% endblock contenido %}
