{% extends 'core/base.html' %}
 {% block titulo %} usuarios: Lista de Usuarios 
 {%endblock titulo %} 
 {% block contenido %}

<div class="py-lg-4">
  <form action="{% url 'persona:home' %}" method="get">
    <input type="text" name="consulta" placeholder="Buscar..." />
  </form>
</div>
<div class="fs-3 pb-4">
  <a href="{% url 'persona:usuario_create' %}">Crear usuarios</a>
</div>
<ul>
  {% for usuario in object_list %} 
  {% if usuario.rol.nombre != "Cliente" %}
    <li>
       {{usuario.user}} - {{usuario.rol.nombre}}

      <a href="{% url 'persona:usuario_detail' usuario.user %}">Detalle</a>
      <a href="{% url 'persona:usuario_update' usuario.user %}">Cambiar</a>
      <a href="{% url 'persona:usuario_delete' usuario.user %}">Borrar</a>
    </li>
  {% endif %} 
  {% endfor %}
</ul>

<div class="fs-3 pb-4">
  <a href="{% url 'persona:home' %}">Volver a Personas</a>
</div>

{% endblock contenido %}
