{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Mi tienda" %}
{% endblock titulo %}
{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="{% static 'core/img/imagen.webp' %}"
                 alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Mi Tercera entrega CoderHouse</h1>
            <p>
                Aqui encontraras mi fabulosa tercera entrega. La misma es el inicio de una tienda donde se venden diferentes productos
            </p>
            <a class="btn btn-primary"
               href="https://wa.me/542619999999"
               target="_blank">WhatsApp</a>
        </div>
    </div>
    
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        {% include 'core/components/card.html' with titulo="About" texto="Aqui podras leer un poco sobre mi y mi experiencia" %}
        {% include 'core/components/card.html' with titulo="Personas"  variable="persona/index.html" texto="Desde aqui podras acceder al mantenimiento de personas?"  %}
        {% include 'core/components/card.html' with titulo="Tienda" texto="Desde aqui podras manejar productos y carritos" %}
    </div>
{% endblock contenido %}
